.hero-title {
  color: #050000;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-inn-tech {
  /* font */
  text-align: center;
  font-family: Inter;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6.6px;
  /* style */
  background: linear-gradient(
    231deg,
    #ff12a9 36.52%,
    #3c00ff 54.28%,
    #296ff9 101.23%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-smart-sc-secure {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-about-subtext {
  color: rgba(2, 0, 0, 0.84);
  text-align: center;
  font-family: Inter;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-about {
  border-radius: 19px;
  background: var(
    --Linear,
    linear-gradient(
      159deg,
      rgba(255, 255, 255, 0.5) 24.5%,
      rgba(248, 172, 255, 0.5) 50.98%,
      rgba(140, 0, 242, 0.5) 85.48%
    )
  );
  backdrop-filter: blur(1.25px);
  flex-shrink: 0;
}

.hero-about-img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 54%;
  transform: translateX(-50%);
  width: 90%;
  height: 50px;
  /* background: rgba(0, 0, 0, 0.5); */
  background: #cac8c8;
  border-radius: 50%;
  filter: blur(1.25px);
  z-index: -1;
  margin-bottom: -14px;
  /* border-radius: 19px; */
}

.who-we-r-title,
.our-journey-title,
.our-client-say-title{
  color: #070000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 80% */
  /* layout */
  margin-top: 10%;
}

.who-w-r-subtext,
.our-journey-subtext {
  color: rgba(2, 0, 0, 1);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ytp-it-title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* layout */
  margin: 0 0 5% 0;
}

.ytp-it-background {
  border-radius: 11.693px;
  border: 1px solid #fef5fd;
  background: linear-gradient(
    180deg,
    rgba(203, 168, 251, 0.27) 0%,
    rgba(106, 0, 255, 0.27) 100%
  );
  backdrop-filter: blur(19.5px);
  padding: 10%;
}

.ytp-it-box-title {
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* style */
  background: linear-gradient(-150deg, #0bf 36.13%, #ff00d9 54.9%, #00f 95.49%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ytp-it-subtext {
  color: #050000;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.contact-us-btn {
  /* Layout */
  display: inline-flex;
  padding: 13px 12px;
  justify-content: center;
  align-items: center;
  /* Style  */
  border-radius: 5.847px;
  border: 0px solid #e5e7eb;
  background: linear-gradient(0deg, #fff 0%, #fff 100%);
  box-shadow: 0px 7.308px 13.71px 0px rgba(12, 3, 3, 0.22);
  /* font */
  color: #050000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact-us-btn:hover {
  background: #ef3e28;
  box-shadow: 0px 6.025px 9.037px 0px rgba(193, 68, 239, 0.34);
  border-color: #ef3e28;
  color: #050000;
}
.what-drives-us {
  margin-top: -8%;
}

.card-outer-box {
  border-radius: 20.407px;
  border: 0.816px solid rgba(0, 64, 255, 0.62);
  padding: 4%;
}

.card-inner-box {
  border-radius: 20.407px;
  background: rgba(255, 255, 255, 0.54);
  backdrop-filter: blur(42.599998474121094px);
}
.card-inner-box h4 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-inner-box ul li {
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 149%; /* 31.29px */
}

.card-icon {
  text-align: center;
}
.card-inner-box::after {
  content: "";
  position: absolute;
  left: 70%;
  top: 40%;
  transform: translateX(-50%);
  width: 70%;
  height: 70%;
  background: rgba(0, 64, 255, 0.35);
  border-radius: 21.439px;
  filter: blur(40.347835540771484px);
}

.card-top-border,
.card-middle-border,
.card-bottom-border {
  position: relative;
}
.card-top-border::before {
  content: "";
  position: absolute;
  top: 4%;
  right: 0;
  width: 3px;
  height: 30%; /* Change this value as needed */
  background-color: #0040ff;
}

.card-middle-border::before {
  content: "";
  position: absolute;
  top: 35%;
  right: 0;
  width: 3px;
  height: 30%; /* Change this value as needed */
  background-color: #0040ff;
}

.card-bottom-border::after {
  content: "";
  position: absolute;
  bottom: 4%;
  right: 0;
  width: 3px;
  height: 30%; /* Change this value as needed */
  background-color: #0040ff;
}

.card-inner-box:hover {
  border: 0.816px solid rgba(0, 64, 255, 0.62);
  box-shadow: 0 0.5rem 1rem rgba(30, 66, 211, 0.759);
  border-radius: 1rem;
}

.our-journey {
  margin-top: -5%;
}

/* swiper timeline */
.card-image-box {
  /* style */
  /* border-radius: 7.463px; */
  border: 0.622px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.53) 0%,
    rgba(161, 0, 255, 0.53) 43.75%,
    rgba(0, 4, 255, 0.53) 79.81%
  );
  /* backdrop-filter: blur(2px); */
  border-top: none;
}
.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background: #e91e63; */
  background: linear-gradient(
    214deg,
    rgba(255, 0, 153, 0.79) 10.24%,
    rgba(64, 0, 255, 0.79) 129.02%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4% auto 15px;
  font-size: 24px;
  color: white;
  filter: drop-shadow(-9px 11px 40.2px rgba(123, 0, 255, 0.34))
    blur(0.550000011920929px);
}
.icon-circle img {
  width: 60px;
  height: 60px;
}

.timeline-title {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.timeline-subtext {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 149.73%; /* 38.93px */
}
.timeline-subtitle {
  color: #f7f6f6;
  text-align: center;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 149.73%; /* 38.93px */
}
.timeline-subtext-small {
  color: #f7f6f6;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.swiper-highlighter {
}
.swiper-slide {
  transition: transform 0.4s ease, border 0.4s ease;
}

.swiper-slide:not(.swiper-highlighter) {
  transform: scale(0.95);
  opacity: 0.7;
}

/* swiper end */
/* meet the brain section */
.team-section {
  text-align: center;
  padding: 50px 0;
}
.team-section h2 span {
  color: #9b51e0; /* pinkish purple */
}
.team-member {
  margin-bottom: 30px;
  border-radius: 31px;
}
.team-member img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.team-card {
  border-radius: 19px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  /* background-color: white; */
}
.team-name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}
.team-role {
  font-size: 14px;
  color: #666;
  /* font */
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
.team-member-box {
  border-radius: 19px;
  background: lightgray -30.546px -29.924px / 109.247% 148.184% no-repeat;
}
.team-info {
  color: #292929;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.team-card::after {
  content: "";
  position: absolute;
  left: 70%;
  top: 40%;
  transform: translateX(-50%);
  width: 70%;
  height: 70%;
  /* background: rgba(100, 64, 255, 0.35); */
  background: none;
  border-radius: 21.439px;
  filter: blur(40.347835540771484px);
}

.gradient-blur1,
.gradient-blur2,
.gradient-blur3 {
  position: absolute;

  z-index: 10%;
  background-size: contain;
  background: linear-gradient(214deg, #f09 10.24%, #4000ff 129.02%);
  fill: linear-gradient(214deg, #f09 10.24%, #4000ff 129.02%);
  filter: blur(15.150000095367432px);
  pointer-events: none;
  opacity: 0.8;
  border-radius: 50.6%;
}

.gradient-blur1 {
  bottom: 20%;
  right: 10%;
  width: 65px;
  height: 64px;
}
.gradient-blur2 {
  bottom: 28%;
  left: 22%;
  width: 40px;
  height: 40px;
}
.gradient-blur3 {
  bottom: 7%;
  left: 27%;
  width: 98px;
  height: 97px;
  opacity: 0.6;
}
/* what is our client says section */
.our-client-say {
  margin-top: -8%;
}
.testimonial-card {
  border-radius: 7.463px;
  border: 0.622px solid #f7f6f6;
  background: linear-gradient(
    127deg,
    rgba(199, 0, 255, 0.47) 24.05%,
    rgba(38, 0, 255, 0.47) 100.24%
  );
  backdrop-filter: blur(13.5px);
}

.testimonial-card-text {
  color: rgba(0, 0, 0, 0.8);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  background: #fff;
}

.testimonial-author h6 {
  margin: 0;
  /* font-weight: bold; */
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.testimonial-author small {
  display: block;
  /* font-size: 0.85rem; */
  color: rgba(0, 0, 0, 0.7);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.testimonial-wrapper {
  max-width: 700px;
  margin: 50px auto;
  position: relative;
}

.testimonial-nav button.active {
  opacity: 1;
}

.testimonial-card::after {
  background: none;
}

/* slider pre & next button */
.swiper-button-prev {
  background-image: url("../images/icon/GoBack.png") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-left: 10%;
}

.swiper-button-next {
  background-image: url("../images/icon/Goforward.png") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-right: 10%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}


/* Screen layouts */
/* Small devices (≥576px) */
@media (min-width: 576px) {
  .hero-about {
    height: 400px;
  }

  .divider {
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .hero-about {
    height: 400px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .hero-about {
    height: 670px;
  }
  .divider {
    border-right: 1px solid #ddd;
    stroke-width: 1px;
    stroke: #ddd;
    border-bottom: none;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .hero-about {
    height: 670px;
  }
  .divider {
    border-right: 1px solid #ddd;
    stroke-width: 1px;
    stroke: #ddd;
    border-bottom: none;
  }
}
